.results-container {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

}

img {
    max-width: 400px;
    max-height: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

button {
    background-color: #3D155F;
    color: #fff;
    border: none;
    padding: 30px 60px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #4D5F7F;
}