<div class="w-full text-center">
  <h1 class="text-alchemy-orange font-cursive md:text-6xl text-4xl mb-0">
    Art Alchemy
  </h1>
  <h2 class="text-alchemy-purple font-serif md:text-5xl text-3xl">
    Coming soon
  </h2>
  <img
    class="w-80 h-80 object-contain mx-auto"
    src="assets/images/art-alchemy-logo-1-removebg.png"
    alt="Art Alchemy logo"
  />
</div>

<footer class="w-full fixed bottom-5 text-center py-4">
  <div class="bg-alchemy-purple w-52 h-24 rounded-md mx-auto py-4">
    <a href="https://www.linkedin.com/in/madison-scercy/" target="_blank">
      <img
        class="w-16 h-16 object-contain inline-block mb-8 mr-4"
        src="assets/images/linkedin.png"
        alt="LinkedIn logo"
      />
    </a>
    <a href="https://madiscercy.github.io" target="_blank">
      <img
        class="w-16 h-16 object-contain mb-8 inline-block"
        src="assets/images/github-logo.png"
        alt="GitHub logo"
      />
    </a>
  </div>
</footer>
