@import '../../../assets/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

.content {
    width: 100%;
    text-align: center;
}

.content h1 {
    color: $art-alchemy-orange;
    font-family: 'UnifrakturCook', cursive;
    font-size: 70px;
    margin-bottom: 0;
}

.content h2 {
    color: $art-alchemy-purple;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.content img {
    width: 500px;
    height: 500px;
}


.footer {
    width: 100%;
    position: fixed;
    bottom: 20px;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer div {
    background-color: $art-alchemy-purple;
    width: 250px;
    height: 100px;
    border-radius: 20px;
    margin: auto;
    padding-top: 15px;
}

.footer img {
    width: 75px;
    height: 75px;
}

.linkedin {
    margin-right: 15px;
}