h2 {
    color: #3f51b5;
}

mat-dialog-content {
    line-height: 1.6;
    color: black;
}

p {
    color: black;
}

mat-dialog-content a {
    color: #3f51b5;
    text-decoration: none;
}

mat-dialog-content a:hover {
    text-decoration: underline;
}