<h2 mat-dialog-title>Welcome to Art Alchemy!</h2>
<mat-dialog-content>
  <p>
    Art Alchemy is my portfolio project that is currently under active
    development. I'm working diligently to complete it as soon as possible.
  </p>
  <p>
    The project is built with Angular and hosted on an AWS S3 bucket. It makes
    calls to an AWS Python Lambda function which integrates with the DeviantArt
    API.
  </p>
  <p>
    I appreciate your understanding and invite you to revisit the site to
    witness its evolution. In the meantime, I encourage you to explore what's
    already here and check back frequently for new updates.
  </p>
  <p>
    For more information about my work and to stay connected, feel free to visit
    my:
  </p>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/madison-scercy/" target="_blank"
        >LinkedIn</a
      >
    </li>
    <li>
      <a href="https://github.com/madiscercy" target="_blank">GitHub</a>
    </li>
    <li>
      <a href="https://madiscercy.github.io/" target="_blank">Portfolio</a>
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
