<div class="privacy-policy-container">
  <h2>Privacy Policy</h2>
  <h3>Last Updated: 2023-12-04</h3>
  <p>
    At Art Alchemy, we respect your privacy and are committed to protecting it.
    This Privacy Policy explains our practices regarding the collection, use,
    and disclosure of information that we receive when you use our services.
  </p>
  <h3>No Personal Data Collection</h3>
  <p>
    We do not collect, store, or use any personal data. Our app, Art Alchemy, is
    designed to ensure your privacy and data security.
  </p>
  <h3>No Data Storage</h3>
  <p>
    Our app does not store any user data. All interactions within the app are
    processed in real-time and no information is retained after your session
    ends.
  </p>
  <h3>Updated Privacy Policy</h3>
  <p>
    Any changes to this privacy policy will be made known by the "Last Updated"
    date at the top of this page.
  </p>
  <h3>Support</h3>
  <p>If you're having any issues with Art Alchemy, please contact us at:</p>
  <p>
    <a href="mailto:madiscercy@gmail.com">madiscercy@gmail.com</a>
  </p>
  <p>We'll be happy to help you out!</p>
</div>
