.privacy-policy-container {
    padding: 20px;
    background-color: #2C303B;
    color: white;
    max-width: 800px;
    margin: auto;
    text-align: left;
}

.privacy-policy-container h2,
h3 {
    font-family: 'Cinzel', serif;
}

.privacy-policy-container p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}