.style-selection-container {
    text-align: center;
}

.image-preview img {
    display: block;
    max-width: 600px;
    height: auto;
    margin: 20px auto;
    max-height: 600px;
}


.style-buttons button {
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #3D155F;
    background-color: #fff;
    color: #3D155F;
    cursor: pointer;
}

.style-buttons button:hover {
    background-color: #3D155F;
    color: #fff;
}



.next-button button {
    margin: 10px 0;
    /* Adjust the margin as needed */
    padding: 10px 15px;
    border: 1px solid #3D155F;
    background-color: #fff;
    color: #3D155F;
    cursor: pointer;
    display: block;
    /* Ensure the button is a block-level element */
    margin: 20px auto;
    /* Center the button horizontally */
    width: auto;
    /* Adjust the width as needed */
}

.next-button button:hover {
    background-color: #3D155F;
    color: #fff;
}

/* Optional: Add transition for a smoother hover effect */
.next-button button {
    transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 768px) {
    .image-preview img {
        max-width: 200px;
        max-height: 200px;
        margin: 10px auto;
    }
}