$background-color: #1b1322;
$art-alchemy-purple: #c00dfa;
$art-alchemy-purple-alt: #660181;
$art-alchemy-orange: #ff7b6b;
$art-alchemy-orange-alt: #fccb7e;
$art-alchemy-blue: #2eb2f0;
$art-alchemy-blue-alt: #2e648a;