<div class="main-container">
  <header class="main-header">
    <img
      src="../../../assets/images/logo.png"
      alt="Art Alchemy Logo"
      class="logo"
    />
    <app-stepper></app-stepper>
  </header>

  <div class="content-area">
    <div class="decorative-element left">
      <img
        src="../../../assets/images/left-decorative-element.png"
        alt="Left Decorative Element"
      />
    </div>

    <main class="content">
      <app-begin *ngIf="currentStep === 1"></app-begin>
      <app-upload *ngIf="currentStep === 2"></app-upload>
      <app-style-selection *ngIf="currentStep === 3"></app-style-selection>
      <app-process *ngIf="currentStep === 4"></app-process>
      <app-result *ngIf="currentStep === 5"></app-result>
    </main>

    <div class="decorative-element right">
      <img
        src="../../../assets/images/right-decorative-element.png"
        alt="Right Decorative Element"
      />
    </div>
  </div>

  <footer class="main-footer">
    © 2023 Art Alchemy
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/madison-scercy/" class="footer-link">
        <img src="../../../assets/images/linkedin.png" alt="LinkedIn" />
      </a>
      <a href="https://github.com/madiscercy" class="footer-link">
        <img src="../../../assets/images/github-logo.png" alt="GitHub" />
      </a>
    </div>
  </footer>
</div>
