.upload-container {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    padding: 20px 50px;
    font-size: 20px;
    border: none;
    background-color: #3D155F;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #4D5F7F;
}

.image-preview {
    margin-top: 20px;
    width: 200px;
    /* Adjust as needed */
    height: 200px;
    /* Adjust as needed */
    overflow: hidden;
    border-radius: 50%;
    /* Circular crop */
    display: inline-block;
}

.image-preview img {
    width: 100%;
    height: auto;
}